<div class="container">
  <%= simple_form_for @available do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.simple_fields_for :products do |c| %>
            <%= c.input :id, :collection => @products, :input_html => { :class => 'form-control' } %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.simple_fields_for :colors do |c| %>
            <%= c.input :id, :collection => @colors, :input_html => { :class => 'form-control' } %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.simple_fields_for :sizes do |c| %>
            <%= c.input :id, :collection => @sizes, :input_html => { :class => 'form-control' } %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12">
        <%= f.button :submit, :class => 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>