<div class="container">
  <h2>Editar Produto <%= @product.name %></h2>
  <%= simple_form_for @product do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.input :name, :input_html => { :class => 'form-control' } %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.input :description, :input_html => { :class => 'form-control' } %>
        </div>
      </div>
      <div class="col-sm-12">
        <%= f.button :submit, :class => 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>