<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Cor</th>
              <th>Tamanho</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |prod| %>
              <tr>
              <td><%= prod.name %></td>
              <td><%= prod.description %></td>
              <td><%= prod.color %></td>
              <td><%= prod.size %></td>
              <td><%= prod.total %></td>
              <td>
                <%= link_to 'Deletar', product_path(prod),
                  method: :delete,
                  class: 'btn btn-danger btn-sm',
                  data: { confirm: 'Deseja realmente deletar?' }
                %>
                <%= link_to 'Editar', edit_product_path(prod), class: 'btn btn-primary btn-sm' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>