<div class="container">
  <h2>Novo Produto</h2>
  <%= simple_form_for @product do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.input :name, :input_html => { :class => 'form-control' } %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.input :description, :input_html => { :class => 'form-control' } %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.simple_fields_for :colors do |c| %>
            <%= c.input :id, :collection => @colors, :input_html => { :class => 'form-control' } %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.simple_fields_for :sizes do |c| %>
            <%= c.input :id, :collection => @sizes, :input_html => { :class => 'form-control' } %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12">
        <%= f.button :submit, :class => 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>